.gradle
/local.properties
.DS_Store
/build
/captures
*iml
/repo

# IntelliJ
/.idea/libraries
/.idea/workspace.xml
/.idea/assetWizardSettings.xml
# Android Studio 3 in .gitignore file.
/.idea/caches
/.idea/modules.xml
# Comment next line if keeping position of elements in Navigation Editor is relevant for you
/.idea/navEditor.xml
